<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

<!--  配置sessionFactory  --> 
	<bean id="WaiterDao" class="daoImpl.system.WaiterDaoImpl">
	</bean>
	
	<bean id="WaiterService" class="serviceImpl.system.WaiterServiceImpl">
		<property name="WaiterDao">
			<ref bean="WaiterDao"/>
		</property>
	</bean>		
	
	<bean id="SystemLoginAction" class="action.system.LoginAction">
		<property name="WaiterService">
			<ref bean="WaiterService"/>
		</property>
	</bean>	
	
	<bean id="MakeActivityAction" class="action.system.MakeActivityAction">
		<property name="WaiterService">
			<ref bean="WaiterService"/>
		</property>
	</bean>	
	
	<bean id="MemberDao" class="daoImpl.member.MemberDaoImpl">
	</bean>
	
	<bean id="MemberService" class="serviceImpl.member.MemberServiceImpl">
		<property name="MemberDao">
			<ref bean="MemberDao"/>
		</property>
	</bean>		
	
	<bean id="MemberLoginAction" class="action.member.LoginAction">
		<property name="MemberService">
			<ref bean="MemberService"/>
		</property>
	</bean>	
	
	<bean id="RegisterAction" class="action.member.RegisterAction">
		<property name="MemberService">
			<ref bean="MemberService"/>
		</property>
	</bean>	
</beans>
